*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 85vw;
    margin: 15px auto ;
    position: relative;
}
main *{
    width: 100%;
}
header{
    height: 75px;
    background-color: #e579e6;
    margin-bottom: 15PX;
}
.first{
    height: 55vh;
    background-color: #e1d67a;
    margin-bottom: 15PX;
}
.last{
    height: 90vh;
    background-color: #0186ff;
    margin-bottom: 10px;
}
.last *{
    background-color: #abcfe7;
    float: left;
}
.last::after{
    content: "";
    display: table;
    clear: both;
}
.head{
    height: 65px;
    margin-bottom: 15px;
}
.small{
    width: calc( ( 100% / 4 ) - 10px);
    height: calc(100% - 95px) ;
}
.big{
    width: calc( ( 100% / 2 ) - 10px);
    height: calc(100% - 95px) ;
    margin: 0 15px;
}
footer{
    height: 45px;
    background-color: blueviolet;
}